**Q.1. What are data structures, and why are they important?**
- Data structures in Python are essential for organizing and managing data efficiently. They provide various ways to store data, allowing programmers to choose the most suitable structure based on their specific needs.

**Q.2. Explain the difference between mutable and immutable data types with examples.**

- In Python, data types are categorized into **mutable** and **immutable** types based on whether their values can be changed after they are created. Understanding the distinction between these two categories is essential for effective programming.

In [ ]:
#example mutable data type
my_list = [1, 2, 3]
my_list.append(4)
my_list  # List becomes [1, 2, 3, 4]

#example immutable data type
my_tuple = (1, 2, 3)
# Attempting to modify will raise an error
# my_tuple[0] = 10 (This will raise TypeError)

[1, 2, 3, 4]

**Q.3. What are the main differences between lists and tuples in Python?**
- **List** defined using square brackets [ ]
- **Tuples** defined using parentheses ( )

**Q.4. Describe how dictionaries store data.**
- Dictionaries in Python are a built-in data type that stores data in the form of key-value pairs. They provide an efficient way to manage and retrieve data based on unique keys.

**Q.5. Why might you use a set instead of a list in Python?**
- Using a set instead of a list in Python can be beneficial for several reasons,
-**Sets** automatically enforce uniqueness, meaning they cannot contain duplicate values. This feature is useful when you need to ensure that a collection contains only distinct items.

In Python when we need to ensure uniqueness among elements, require fast membership testing and performance with large datasets, or want to utilize built-in mathematical operations on collections.I shall choose to use a set instead of a list.

**Q.6. What is a string in Python, and how is it different from a list?**
- In Python, a **string** is a built-in data type used to represent a sequence of characters, which can include letters, numbers, symbols, and whitespace. Strings are defined by enclosing characters in either single quotes ('...'), double quotes ("..."), or triple quotes ('''...''' or """...""") for multiline strings.
- Whereas **List** enclosed in square brackets [...]

**Q.7. How do tuples ensure data integrity in Python?**

- **Tuples** in Python are immutable sequences that ensure data integrity through their inherent characteristics. Once a **tuple** is created, its contents cannot be alteredâ€”no additions, deletions, or modifications are allowed. This immutability guarantees that the data remains consistent throughout the program's execution, reducing the risk of unintended changes that could lead to bugs or inconsistencies.

- **Tuples** ensure data integrity in Python by being immutable and hashable, which prevents unintended modifications and allows them to function as reliable keys in dictionaries. Their fixed structure and performance benefits make them particularly useful for storing collections of related data that should remain constant throughout a program's execution.

**Q.8. What is a hash table, and how does it relate to dictionaries in Python?**
- A hash table is a powerful data structure that enables efficient data retrieval through key-value pairs via hashing. Python's dictionary type leverages this concept, providing fast access and manipulation of data while ensuring that keys are unique and efficiently managed through hashing techniques. This relationship underscores the importance of hash tables in programming and data management within Python.

**Q.9. Can lists contain different data types in Python?**
- Yes, **lists** in Python can contain different data types. This flexibility allows a single list to hold a mixture of various types of elements, such as integers, strings, floats, booleans, and even other lists or complex objects.

**Q.10. Explain why strings are immutable in Python.**
- The immutability of **strings** in Python is a deliberate design decision that enhances data integrity, allows for efficient memory management, simplifies programming practices, and supports safe concurrent programming. These characteristics make strings a robust choice for handling textual data in Python applications.

**Q.11. What advantages do dictionaries offer over lists for certain tasks?**
- Dictionaries provide significant advantages over lists when it comes to fast lookups, key-value associations, maintaining unique identifiers, and managing dynamic data structures efficiently. These features make dictionaries a preferred choice in situations where quick access to data and clear relationships between elements are required.

**Q.12. Describe a scenario where using a tuple would be preferable over a list.**
- Considering a situation where we working with a fixed data record structure, such as a student's record that includes a **name, age, and enrollment number**. Since the attributes of a student record are not expected to change after they are created, using a tuple makes logical sense.

**Q.13. How do sets handle duplicate values in Python?**
- In Python, sets are designed to handle duplicate values by automatically ignoring any duplicates when elements are added.

**Q.14. How does the "in" keyword work differently for lists and dictionaries?**

- The in keyword in Python is used to test for membership in various data structures, including lists and dictionaries, but it operates differently for each.

- When using the **'in'** keyword with a **list**, it checks for the presence of a specific value within the list. The operation iterates through each element in the list to determine if the specified value exists.

- When using the **'in'** keyword with a **dictionary**, it checks for the presence of a specific key rather than a value. This means that you are testing whether a particular key exists in the dictionary's set of keys.

**Q.15. Can you modify the elements of a tuple? Explain why or why not.**
- No , tuple element can't be modified,added or removed.
- this is because **tuples** in Python are **immutable collections** that cannot be modified after creation. This immutability provides benefits such as data integrity and hashability while also optimizing performance in certain scenarios.

**Q.16. What is a nested dictionary, and give an example of its use case?**
- A dictionary that contains another dictionary (or dictionaries) as its value is called a nested dictionary.

**use case** -  Organizing Student Information

Considering a scenario where we need to store information about students, including their grades and subjects. A nested dictionary can help organize this data in a way that's easy to access.

In [ ]:
student_db = {"student_1": {"name": "Alice","grades": {"math": 90,"science": 85,"history": 88}},
            "student_2": {"name": "Bob","grades": {"math": 75,"science": 80,"history": 78}}
            }

{'student_1': {'name': 'Alice',
  'grades': {'math': 90, 'science': 85, 'history': 88}},
 'student_2': {'name': 'Bob',
  'grades': {'math': 75, 'science': 80, 'history': 78}}}

**Accessing Data**: We can easily access specific information, such as Alice's science grade:

In [ ]:
#Alice's science grade
student_db["student_1"]["grades"]["science"]

85

**Q.17. Describe the time complexity of accessing elements in a dictionary.**
- Accessing elements in a dictionary generally exhibits efficient time complexity characteristics, primarily due to the underlying hash table implementation used by Python.

- *Average Time Complexity*: The average time complexity for accessing an element in a dictionary is O(1). This means that, on average, retrieving a value using its key does not depend on the number of elements in the dictionary. This efficiency arises from the use of hash functions that map keys to specific locations in the underlying array structure, allowing for direct access.

- *Worst Time Complexity*: In the worst-case scenario, the time complexity can degrade to O(n). This situation typically occurs due to hash collisions, where multiple keys hash to the same index in the array. When this happens, the dictionary must resolve these collisions, often by linking entries at the same index or open finding another open slot. As a result, if many keys collide, accessing an element may require traversing a list of entries at that index, leading to linear time complexity.

- *Key Size Impact*: The time complexity can also vary based on the size and type of the key. For example, while accessing integer keys is generally O(1) due to their constant size and straightforward hashing, string keys may introduce additional overhead. The time complexity for string key access can be O(k), where k is the length of the string. This is because hashing and equality checks for strings involve examining each character. Thus, while integer key access remains constant time on average, string key access may be influenced by its length.

Overall, dictionaries provide efficient access times under normal conditions, making them a preferred data structure for scenarios requiring rapid lookups and insertions.

**Q.18.In what situations are lists preferred over dictionaries?**
- **lists** are appropriate for ordered collections of items, simple data structures, and when element access is based on index rather than key-value pairs. **Dictionaries**, on the other hand, when we need to associate additional context or metadata (the key-value relationship) with our data.

**Q.19. Why are dictionaries considered unordered, and how does that affect data retrieval?**
- *Dictionaries* are considered unordered due to their hash table implementation and lack of guaranteed item order (except from Python 3.7 onwards).Starting from Python 3.7, dictionaries maintain the insertion order of items, meaning that they will return items in the order they were added.However, the conceptual framework around dictionaries is that they are fundamentally designed for quick lookups based on keys, rather than ordered manipulation of data.

- The unordered nature means that the primary method for retrieving values is through their unique keys rather than by index. This allows for efficient lookups, with an average time complexity of O(1) for accessing values by key due to the hashing mechanism.

**Q.20. Explain the difference between a list and a dictionary in terms ofÂ dataÂ retrieval.**

- *Lists* and *dictionaries* are both fundamental data structures in Python, but they operate very differently, especially in terms of data retrieval.Lists allow access via a sequential index and maintain the order of elements.Dictionaries facilitate fast access through unique keys and emphasize key-value relationships rather than order. Understanding these distinctions helps us choosing the appropriate structure depending on the requirements of our application.

- To retrieve an item from a list, we use its index:
- To retrieve a value in a dictionary, you use its associated key:

**Practical Question and Answer**

In [1]:
# 1. Write a code to create a string with your name and print it.
s="Sukhendu Sardar"
print(s)

Sukhendu Sardar

In [2]:
# 2.Write a code to find the length of the string "Hello World".
s="Hello World"
len(s)

11

In [3]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
s="Python Programming"
s[0:3]

'Pyt'

In [4]:
# 4. Write a code to convert the string "hello" to uppercase.
s="hello"
s.upper()

'HELLO'

In [5]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
s="I like apple"
s.replace("apple","orange")

'I like orange'

In [7]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
mylist=[1,2,3,4,5]
print(mylist)

[1, 2, 3, 4, 5]

In [8]:
# 7.Write a code to append the number 10 to the list [1, 2, 3, 4).
mylist=[1,2,3,4]
mylist.append(10)
print(mylist)

[1, 2, 3, 4, 10]

In [9]:
# 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
mylist=[1,2,3,4,5]
mylist.remove(3)
print(mylist)

[1, 2, 4, 5]

In [10]:
# 9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
mylist=['a','b','c','d']
mylist[1]

'b'

In [11]:
# 10.Write a code to reverse the list [10, 20,Â 30,Â 40,Â 50].
mylist=[10,20,30,40,50]
mylist[::-1]

[50, 40, 30, 20, 10]

In [12]:
# 11.Write a code to create a tuple with the elements 10, 20, 30 and print it.
my_tuple=(10,20,30)
print(my_tuple)

(10, 20, 30)

In [13]:
# 12.Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
my_tuple=('apple','banana','cherry')
my_tuple[0]

'apple'

In [14]:
# 13.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
mytuple=(1, 2, 3, 2, 4, 2)
mytuple.count(2)

3

In [15]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog, 'cat', 'rabbit').
mytuple=('dog','cat','rabbit')
mytuple.index('cat')

1

In [16]:
# 15.Write a code to check if the element "banana" is in the tuple ('apple, 'orange', 'banana')
mytuple=('apple','orange','banana')
'banana' in mytuple

True

In [17]:
# 16.Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
my_set={1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [18]:
# 17.Write a code to add the element 6 to the set {1, 2, 3, 4}.
my_set={1,2,3,4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

In [19]:
# 18. Write a code to create a tuple with the elements 10, 20, 30 and print it.
my_tuple=(10,20,30)
print(my_tuple)

(10, 20, 30)

In [20]:
# 19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
my_tuple=('apple','banana','cherry')
my_tuple[0]

'apple'

In [21]:
# 20.  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
my_tuple=(1,2,3,2,4,2)
my_tuple.count(2)

3

In [22]:
# 21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
mytuple=('dog','cat','rabbit')
mytuple.index('cat')

1

In [23]:
# 22.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
MyTuple=('apple','orange','banana')
'banana' in MyTuple

True

In [24]:
# 23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
My_Set={1,2,3,4,5}
print(My_Set)

{1, 2, 3, 4, 5}

In [25]:
# 24. Write a code to add the element 6 to the setÂ {1,Â 2,Â 3,Â 4}.
My_Set={1,2,3,4}
My_Set.add(6)
print(My_Set)

{1, 2, 3, 4, 6}